    /* background color */
    body {
      background-color: #F5A9A9; 
    }
    /* header */
    h1 {
      color: #8B0000;
      text-align: center;
      font-size: 3em;
    }
    /* content */
    p {
      color: #458B00; 
      font-size: 1.5em; 
      text-align: justify; 
    }
    ul {
      list-style-type: none; /* Removes bullet points from the list */
      margin: 0; /* Removes margin from the list */
      padding: 0; /* Removes padding from the list */
    }

    li {
      display: inline-block; /* Makes the list items display in a line */
      margin-right: 10px; /* Adds a margin to the right of the list items */
    }

