    /* background color */
    body {
      background-color: #F5A9A9; 
    }
    /* header */
    .header {
      color: #8B0000;
      background-color: #ff6e6e;
      text-align: center;
      font-size: 3em;
    }
    /* content */
    .container {
      color: #458B00; 
      font-size: 1.5em; 
      text-align: justify; 
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }

